{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row py-5">
				<div class="col-md-3 col-lg-3"></div>
				<div class="col-md-6 col-lg-5 mb- mb-lg-0 my-5 py-">
					<form method="post">
						{% if error %}
							<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
						{% endif %}

						{% if app.user %}
							<div class="mb-3">
								You are logged in as
								{{ app.user.username }},
								<a href="{{ path('app_logout') }}">Logout</a>
							</div>
						{% endif %}
						<h2 class="font-weight-bold text-5 mb-4 text-center">Login</h2>
						<div class="row">
							<div class="form-group col">
								<label class="form-label text-color-dark text-3">Email address
									<span class="text-color-danger">*</span>
								</label>
								<input type="text" value="" name="username" class="form-control form-control-lg text-4" required="">
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<label class="form-label text-color-dark text-3">Password
									<span class="text-color-danger">*</span>
								</label>
								<input type="password" value="" name="password" class="form-control form-control-lg text-4" required="">
							</div>
						</div>
						<div class="row justify-content-between">
							<div class="form-group col-md-auto">

								<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
								<a class="text-decoration-none text-color-dark text-color-hover-primary font-weight-semibold text-2" href="#">Forgot Password?</a>
							</div>
						</div>
						<div class="row">
							<div class="form-group col">
								<button type="submit" class="btn btn-dark btn-modern w-100 text-uppercase rounded-0 font-weight-bold text-3 py-3" data-loading-text="Loading...">Login</button>
							</div>
						</div>
					</div>
				</form>
			</div>

			<div class="col-sm-3"></div>

		{% endblock %}
