<div class="row">
			<div class="col-md-12">

				{% for label, messages in app.flashes %}
					{% for message in messages %}
						<div class=" alert alert-{{ label }} alert-dismissible">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
						 
								<i class="icon fa fa-{% if label=='success' %}check {% else %}ban {% endif %}"></i>
							 
							{{ message }}

						</div>


					{% endfor %}
				{% endfor %}

			</div>
		</div>