<footer id="footer">
	<div class="footer-copyright">
		<div class="container py-2">
			<div class="row py-4">

				<div class="col-lg-7 d-flex align-items-center justify-content-center justify-content-lg-start mb-4 text-white mb-lg-0">
					<p>Copyright © 2022. AfroCouples. All Rights Reserved.</p>
				</div>
				<div class="col-lg-4 d-flex align-items-center justify-content-center justify-content-lg-end">
					<nav id="sub-menu">
						<ul class="header-social-icons social-icons d-none d-sm-block social-icons-clean m-0">
							<li class="social-icons-facebook">
								<a href="http://www.facebook.com/" target="_blank" title="Facebook">
									<i class="fab fa-facebook-f text-white"></i>
								</a>
							</li>
							<li class="social-icons-twitter">
								<a href="http://www.twitter.com/" target="_blank" title="Twitter">
									<i class="fab fa-twitter text-white"></i>
								</a>
							</li>
							<li class="social-icons-linkedin">
								<a href="http://www.linkedin.com/" target="_blank" title="Linkedin">
									<i class="fab fa-linkedin-in text-white"></i>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</footer>
