{% extends 'master/base.html.twig' %}
{# {% extends 'base.html.twig' %}

{% block title %}New MaritalStatus{% endblock %}
  #}

{% block body %}
    <h3>Create new MaritalStatus</h3>

    {{ include('marital_status/_form.html.twig') }}
<br>
    <a href="{{ path('marital_status_index') }}" class="btn  btn-info" >back to list</a>
{% endblock %}
