{% extends 'master/base.html.twig' %}
{# {% extends 'base.html.twig' %}

{% block title %}Edit Occupation{% endblock %}
  #}

{% block body %}
    <h1>Edit Occupation</h1>

    {{ include('occupation/_form.html.twig', {'button_label': 'Update'}) }}
<hr>

<table>
        <tr>
        <td><a href="{{ path('occupation_index') }}" class="btn  btn-info">back to list</a> </td>

        <td> {{ include('occupation/_delete_form.html.twig') }} </td>

        </tr>
    </table>
{% endblock %}
 
       
   

